
<div class="ibox-content form-horizontal m-t">


  <div class="form-group">
    <%= form_for(@memberlevel,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>

        <div class="form-group">
          <label class="col-sm-3 control-label">会员名：</label>
          <div class="col-sm-6">
            <%= f.text_field :name,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">会员等级：</label>
          <div class="col-sm-6">
            <%= f.text_field :quota,class:"form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit '确定',class: "btn btn-w-m btn-success mylink pull-right",'data-no-turbolink'=>true %>

    <% end %>
    </div>
  </div>
</div>
